*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-style: normal;
  box-sizing: border-box;


  background-color: rgb(15, 195, 245);

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: canada-type-gibson, sans-serif;
}

body {
  overflow: auto;
}

:root {
  font-size: 85%;
}

#root {
  width: 100%;
  height: 100%;
}

nav {
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  padding: 8px 16px;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(15, 195, 245);
  box-shadow: 0px 5px 10px -5px rgba(15, 195, 245, 0.85);
  -moz-box-shadow: 0px 5px 10px -5px rgba(15, 195, 245, 0.85);
  -webkit-box-shadow: 0px 5px 10px -5px rgba(15, 195, 245, 0.85);

  /* border: 1px solid red; */
}

main {
  display: flex;
  color: white;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  padding: 24px 16px;
  background-color: #0ec3f6;

}

a {
  margin: 0 8px;
  color: white;
  font-weight: 500;
  border-radius: 40px;
  text-decoration: none;
  border: 1px solid white;
  padding: 6px 16px 8px 16px;
  background: rgba(0, 150, 255, 0.1);
}

nav a:first-child {
  border: none;
  background: none;
  padding: 8px 0px;
  margin-right: auto;
}

nav a:first-child img {
  width: 50px;
}

img#logo {
  width: 350px;
}

h1,
h2,
h3,
p {
  margin: 0;
  letter-spacing: .5px;
}

h1 {
  font-size: 450%;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
}

.list {
  display: flex;
  color: white;
  min-height: 100%;
  margin-top: 60px;
  justify-content: flex-start;
}

ul {
  gap: 14px;
  padding: 0;
  width: 100%;
  display: grid;
  list-style: none;
  grid-template-columns: repeat(1, 1fr);
}

li {
  margin: 5px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  flex-direction: column;
  border: 1.5px solid rgba(255, 255, 255, .2);

  cursor: pointer;

  background: rgb(70, 215, 255, .75);
  background: linear-gradient(0deg, rgba(70, 215, 255, .65) 0%, rgba(70, 215, 255, .85) 100%);

  /* neumorphic: */
  box-shadow: 22px 22px 43px #15b0dc, -22px -22px 43px #19d7ff;
}

li img {
  width: 150px;
  margin-bottom: 16px;
}










@media only screen and (min-width: 800px) {
  .list ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1100px) {
  .list ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1400px) {
  .list ul {
    grid-template-columns: repeat(4, 1fr);
  }
}



.circleBtn {
  border-radius: 50%;
  background: linear-gradient(145deg, #f8f8f8, #d1d1d1);
  box-shadow: 5px 5px 10px #aeaeae, -5px -5px 10px #ffffff;
}

.box {
  border-radius: 15px;
  background: #e8e8e8;
  box-shadow: 17px 17px 33px #aeaeae, -17px -17px 33px #ffffff;
}