*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-style: normal;
  box-sizing: border-box;
  background-color: #17C3F4;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: canada-type-gibson, sans-serif;
}

body {
  overflow: auto;
}

:root {
  font-size: 85%;
}

#root {
  width: 100%;
  height: 100%;
}

nav {
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  padding: 8px 16px;
  align-items: center;
  justify-content: flex-end;
  background-color: #17C3F4;
}

main {
  display: flex;
  color: white;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

a {
  margin: 0 8px;
  color: white;
  font-weight: 500;
  border-radius: 40px;
  text-decoration: none;
  border: 1px solid white;
  padding: 6px 16px 8px 16px;
  background: rgba(0, 150, 255, 0.1);
}

nav a:first-child {
  border: none;
  background: none;
  padding: 8px 0px;
  margin-right: auto;
}

nav a:first-child img {
  width: 50px;
}

img#logo {
  width: 350px;
}

h1 {
  font-size: 420%;
  font-weight: 700;
  text-align: center;
}

.list {
  display: flex;
  color: white;
  min-height: 100%;
  margin-top: 60px;
  justify-content: flex-start;
}

.list ul {
  gap: 14px;
  width: 100%;
  display: grid;
  padding: 0 16px;
  list-style: none;
  grid-template-columns: repeat(1, 1fr);
}

.list ul li {
  margin: 5px;
  height: 220px;
  border: 1px solid white;
}



@media only screen and (min-width: 900px) {
  .list ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
  .list ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1500px) {
  .list ul {
    grid-template-columns: repeat(4, 1fr);
  }
}



.circleBtn {
  border-radius: 50%;
  background: linear-gradient(145deg, #f8f8f8, #d1d1d1);
  box-shadow: 5px 5px 10px #aeaeae, -5px -5px 10px #ffffff;
}

.box {
  border-radius: 15px;
  background: #e8e8e8;
  box-shadow: 17px 17px 33px #aeaeae, -17px -17px 33px #ffffff;
}