* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: #17C3F4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-family: canada-type-gibson, sans-serif;
}

#root {
  height: 100%;
}

body {
  overflow: auto;
}

h1 {
  font-size: 5rem;
  font-weight: 700;
}

main {
  height: 100%;
  display: flex;
  color: white;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

img#logo {
  width: 350px;
}


.circleBtn {
  border-radius: 50%;
  background: linear-gradient(145deg, #f8f8f8, #d1d1d1);
  box-shadow: 5px 5px 10px #aeaeae, -5px -5px 10px #ffffff;
}

.box {
  border-radius: 15px;
  background: #e8e8e8;
  box-shadow: 17px 17px 33px #aeaeae, -17px -17px 33px #ffffff;
}